<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
        <string>HashCalc</string>
	<key>CFBundleDisplayName</key>
        <string>HashCalc</string>
	<key>CFBundleIdentifier</key>
        <string>HashCalc</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
        <string>APPL</string>
	<key>CFBundleSignature</key>
        <string>????</string>
	<key>CFBundleAllowMixedLocalizations</key>
        <string>YES</string>
	<key>CFBundleExecutable</key>
        <string>HashCalc</string>
	<key>NSHighResolutionCapable</key>
        <string>true</string>
	<key>LSApplicationCategoryType</key>
        <string>public.app-category.utilities</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleIconFile</key>
	<string>HashCalc.icns</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
			<key>UILaunchImageName</key>
			<string>Default</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
			<key>UILaunchImageName</key>
			<string>Default-568h</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
			<key>UILaunchImageName</key>
			<string>Default-736h</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
			<key>UILaunchImageName</key>
			<string>Default-Landscape-736h</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
			<key>UILaunchImageName</key>
			<string>Default-667h</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
		</dict>
	</array>
	<key>UILaunchImages~ipad</key>
	<array>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
			<key>UILaunchImageName</key>
			<string>Default-Portrait</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
			<key>UILaunchImageName</key>
			<string>Default-Landscape</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{1536, 2048}</string>
			<key>UILaunchImageName</key>
			<string>Default-Portrait</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{1536, 2048}</string>
			<key>UILaunchImageName</key>
			<string>Default-Landscape</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
		</dict>
	</array>
</dict>
</plist>
